:root {
  --heading-color: #2e2f42;
  --text-color: #434455;
  --logo-clr-web: #4d5ae5;
  --logo-clr-dark: #2e2f42;
  --logo-clr-light: #f4f4fd;
  --background-page: #ffffff;
  --header-link-normal: #2e2f42;
  --header-link-hover: #404bbf;
  --address-normal: #434455;
  --address-hover: #404bbf;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--background-page);
}

/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  outline: 2px solid red;
  outline-offset: -2px;
}

/* header  */
.header-doun-line {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-clr-web);
}

.header-studio-color {
  color: var(--logo-clr-dark);
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-link {
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--header-link-normal);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: var(--header-link-hover);
}

.header-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  display: block;
  border-radius: 2px;
}

.header-link.current {
  color: var(--header-link-hover);
}

.header-link.current::after,
.header-link:hover::after,
.header-link:focus::after {
  background-color: var(--header-link-hover);
}

.header-adaress {
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--address-normal);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-adaress:hover,
.header-adaress:focus {
  color: var(--address-hover);
}

.header-list-address {
  display: flex;
  gap: 40px;
}

/* hero */
.hero-section {
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(46, 47, 66, 0.7);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/herobg.jpg);
}

.hero-heading {
  max-width: 496px;
  margin-right: auto;
  margin-bottom: 48px;
  margin-left: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-button {
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  letter-spacing: 0.04em;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background: #4d5ae5;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background: #404bbf;
  cursor: pointe;
}

/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms ease, visibility 250ms ease;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: visible;
  pointer-events: none;
}

.modal {
  width: 408px;
  min-height: 584px;
  padding: 24px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-btn {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-bottom: 24px;
  fill: #2e2f42;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  fill: #ffffff;
  background-color: #404bbf;
}

.modal-title {
  display: block;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.modal-form {
}
.modal-form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-form-field {
  position: relative;
  margin-bottom: 8px;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  padding: 0 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: 1px solid rgba(46, 47, 66, 0.4);
  outline-offset: -1px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline-color: #4d5ae5;
}

.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.modal-form-textarea {
  display: block;
  width: 100%;
  min-height: 120px;
  padding: 8px 16px;
  margin-bottom: 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: 1px solid rgba(46, 47, 66, 0.4);
  outline-offset: -1px;
  resize: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-textarea:focus {
  outline-color: #4d5ae5;
}


.modal-form-treaty {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
} 

.modal-form-treaty-box {
  appearance: none;
}

.modal-form-treaty-icon {
margin-right: 8px;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-treaty-box:hover + .modal-form-treaty-icon,
.modal-form-treaty-box:focus + .modal-form-treaty-icon {
  width: 16px;
  height: 16px;
  border: 1px solid #404BBF;
  border-radius: 4px;
  cursor: pointer;
}

.modal-form-treaty-unchecked {
  opacity: 1;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-treaty-box:checked + .modal-form-treaty-icon > .modal-form-treaty-unchecked {
  opacity: 0;
}

.modal-form-treaty-checked {
  opacity: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-treaty-box:checked + .modal-form-treaty-icon > .modal-form-treaty-checked {
  opacity: 1;
}

.modal-form-treaty-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
 }

.modal-form-treaty-link {
    font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #404bbf;
}
.modal-button {
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  letter-spacing: 0.04em;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background: #4d5ae5;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background: #404bbf;
  cursor: pointer;
}
.modal-icon {
  /*  */
}

/* studio */

.section {
  padding: 120px 0;
}

.studio-heading-none {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.studio-container {
  min-height: 388px;
  padding-top: 120px;
  padding-right: 15px;
  padding-bottom: 120px;
  padding-left: 15px;
}

.studio-container-ul {
  display: flex;
  gap: 24px;
}

.studio-list-item {
  flex-basis: calc((100% - 72px) / 4);
}

.studio-container-div {
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4fd;
  border-radius: 4px;
}

.studio-heading {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--heading-color);
}

.studio-indent {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* What are we doing */
.doing-heading {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--heading-color);
}

.doing-container {
  display: flex;
  gap: 24px;
}

.doing-list {
  width: calc((100% - 48px) / 3);
}

.doing-container-content {
  padding-bottom: 120px;
}

/* our team section */
.team-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f4fd;
}

.team-heading {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--heading-color);
}

.team-container {
  display: flex;
  gap: 24px;
}

.team-style-list {
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-name-position {
  padding: 32px 0;
  border-radius: 0px 0px 4px 4px;
}

.team-name-heading {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--heading-color);
}

.team-position {
  padding-top: 8px;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* social-link */
.socials {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-link {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #4d5ae5;
  border-radius: 50%;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.socials-svg {
  fill: #f4f4fd;
}

/* customers */
.customers-heading {
  margin-bottom: 72px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.customers-ul {
  display: flex;
  gap: 24px;
}

.customers-icon {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customers-a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8e8f99;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-a:hover,
.customers-a:focus {
  color: #404bbf;
  border-color: #404bbf;
}

.customers-svg {
  fill: currentColor;
}

/* footer sectio */
.footer-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e2f42;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-left-side {
}
.footer-right-side {
}

.footer-logo {
  margin-bottom: 16px;
  display: inline-block;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-clr-web);
}

.studio-footer-color {
  color: var(--logo-clr-light);
}

.footer-indent {
  width: 264px;
  margin-right: 120px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}


/* footer social-link */
.footer-indent-social {
  margin-bottom: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-social-link {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-svg {
  fill: #f4f4fd;
}

/* footer subscribe */

.subscribe-telegram {
  margin-left: auto;
}

.subscribe-indent {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.subscribe-form-div {
  display: flex;
  gap: 24px;
}

.subscribe-form-label {
  color: #ffffff;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: 1px solid #ffffff;
  outline-offset: -1px;
}

.subscribe-form-input {
  border: none;
  width: 264px;
  height: 40px;
  padding-left: 16px;
  font-size: 12px;
  line-height: 2;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #2e2f42;
}

.subscribe-form-input::placeholder {
  color: #ffffff;
}

.subscribe-form-btn {
  font-weight: 500;
font-size: 16px;
line-height: 1.5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;
  color: #ffffff;
  background: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form-btn:hover,
.subscribe-form-btn:focus {
  background: #404BBF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-form-icon {
}

/* --------- */
/* portfolio */
/* --------- */

/* main */
.pf-main {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-heading {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.pf-btn-container {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.pf-btn {
  padding: 12px 24px;
  border-radius: 4px;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
  cursor: pointer;
  transition-property: color, background-color, border, box-shadow;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.pf-btn:hover,
.pf-btn:focus {
  background: #404bbf;
  color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* portfolio */

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.pf-list {
  width: calc((100% - 48px) / 3);
}

.pf-link {
  display: block;
  transition-property: color, background-color;
  transition-duration: 2500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.pf-link:hover,
.pf-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.pf-link-popup {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  transform: translateY(100%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-right: 32px;
  padding-left: 32px;
  text-align: left;
  justify-content: start;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.pf-link:hover .overlay,
.pf-link:focus .overlay {
  transform: translateY(0);
}

.pf-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.project-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--heading-color);
  margin-bottom: 8px;
}

.project-direction {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
